# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/visually?schema=public"

# App Environment
NEXT_PUBLIC_APP_NAME="Visually"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
